// import tailwindcss
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// import variables
@import "./variables.scss";
@import "./animations.scss";

:root {
	/* Your default theme */
	--color: #000;
	--background: #ffffff;
	--foreground: #000000;

	// colors
	--primary-color: #DD4B90;
	--primary-color-darker: #BE185D;
	--primary-color-opposite: #ffffff;

	--secondary-color: #ffd100;
	--secondary-color-darker: #edd153;
	--secondary-color-opposite: #121212;

	// general
	--general-box-radius: 6px;
	--general-box-shadow: inheirt;
	--general-text-color: var(--color);
	--general-background: var(--background);

	// animations
	--afc-sm: 100px;
	--afc-md: 25%;
	--afc-animate-duration: 1s;
	--afc-animate-delay: 1s;
}

// colors
html {
	&.dark {
		--color: #fff !important;
		--background: #040101 !important;
		--foreground: #fff !important;
	}
	&.light {
		--color: #212529 !important;
		--background: #fff !important;
		--foreground: #000 !important;
	}
}

body {
	&,
	p {
		color: $text-color;
	}

	background-color: $background-color;
}

.fill-white {
	&,
	& > * {
		fill: #fff;
	}
}

.font-1 {
	font-family: var(--font-body);
}
.font-2 {
	font-family: var(--font-title);
}

// typography
body {
	font-size: 18px;

	@media (max-width: $md) {
		font-size: 16px;
	}
}

[font-title] {
	// font-family: $[font-title];
}

a {
	&,
	&:hover {
		color: inherit;
	}
}

h1 {
	font-size: 75px;
	line-height: 1.15;

	@media (max-width: 768px) {
		font-size: 45px;
	}
}
h2 {
	font-size: 45px;
	line-height: 1.3;

	@media (max-width: 768px) {
		font-size: 36px;
	}
}

.text-md {
	font-size: 16px;
}

// helpers
.bg-primary {
	background-color: $primary-color !important;
}
.text-primary {
	color: $primary-color !important;
}

// other
.swiper-slide-active {
	.afc-testimonial {
		&,
		p {
			color: $primary-color-opposite;
			background-color: $primary-color;
		}
	}
}

// grid
.afc-row {
	&--zero {
		margin-bottom: 0;

		& > * {
			padding-left: 0 !important;
			padding-right: 0 !important;
			margin-bottom: 0 !important;
		}
	}
	&--md {
		margin-bottom: -24px;

		& > * {
			padding-left: 12px;
			padding-right: 12px;
			margin-bottom: 24px;
		}
	}
	&--lg {
		margin-bottom: -30px;

		& > * {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 30px;
		}
	}
}

// Swiper
.afc-swiper-dots {
	&--classic {
		span {
			width: 10px;
			height: 10px;
			opacity: 1;
			background-color: #fff;
			border: 1px solid #000;

			&.swiper-pagination-bullet-active {
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}
}
